.country-container {
  margin-top: 5vh;
}

.country-container h2 {
  font-size: 2rem;
  text-align: center;
  color: #4d4c7d;
  margin-top: 5vh;
}

.country-container > div {
  display: flex; 
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.country-container > div > div {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgb(209, 207, 207);
  border-radius: 4px;
  background-color: white;
}

.country-container > div > div + div {
  margin-left: 15vw;
}

.country-container > div > div > h3 {
  margin-bottom: 2vh;
  font-size: 1.2rem;
  color: #636372;
  font-weight: 300;
}

.country-container > div > div > h4 {
  font-size: 3rem;
}

.country-container > div > div > span {
  margin-top: 1vh;
  padding: 5px;
  font-size: 1.2rem;
  color: ghostwhite;
  font-weight: 400;

}

@media (max-width: 900px) {
  
  .country-container {
    margin-top: 5vh;
  }
  
  .country-container h2 {
    font-size: 3rem;
    margin-bottom: 3vh;
  }
  
  .country-container > div {
    display: flex; 
    flex-direction: column;
  }
  
  .country-container > div > div {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vw 4vw 0 2vw;

  }
  
  .country-container > div > div + div {
    margin-top: 6vh;
    margin: 4vw 4vw 0 2vw;
  }
  
  .country-container > div > div > h3 {
    text-decoration: underline;
    margin-bottom: 2vh;
    font-size: 1.5rem;
  }
  
  
  .country-container > div > div > h4 {
    font-size: 3.5rem;
    margin: 0;
  }
  
  .country-container > div > div > span {
    font-size: 1.5rem;

  
  }
}